@font-face {
    font-family: 'silver';
    src: url(../assets/fonts/Silver.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    box-sizing: border-box;

    background-color: #251614;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    background-image: url("/assets/img/background.png");

}

.hud {
    position: absolute;
    display: none;
    width: 50%;
    align-items: center;
    padding: 20px;
}

.healthLayout {
    position: relative;
    height: 30px;
    width: 100%;


}

.remainingHealthbar {
    background-color: #EF4444;
    height: 30px;
    width: 100%;

}

.left-health {
    border-radius: 25px 0 0 25px;
}

.right-health {
    border-radius: 0 25px 25px 0;
}

.totalHealthBar {
    position: absolute;
    background-color: #8B5CF6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

}

.timer {
    background-color: wheat;
    font-family: 'silver';
    font-size: 35px;
    height: 50px;
    width: 75px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.result {
    position: absolute;
    font-family: 'silver';
    font-size: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    color: wheat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.game {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}



.keymapping {
    display: flex;
    justify-content: center;
    font-family: 'silver';
    font-size: 40px;
}

.keys {
    margin: 30px;
    padding: 40px;
    border: 2px solid black;
}

.keys h1 {
    margin: 0px
}

.menu {
    font-family: silver;
    color: black;
    position: absolute;
    width: 1024px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuOption {
    border: solid black;
    border-width: 1px 5px 5px 1px;
    font-size: 60px;
    padding: 10px 20px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menuOption:hover {
    box-shadow: inset 350px 0 0 0 #9eade9;
    color: black;
}

.author {
    padding-top: 10px;
    font-size: 30px;
    font-style: italic;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #b8a57e 0%,
            #474134 29%,
            #1d1813 67%,
            #1d1813 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 80px;
}

.options {
    position: relative;
    top: 250px;
    display: flex;
    gap: 20px;
}

.video-game-btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;

}

.video-game-font {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;

}

.button {
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.button a {
    color: #23211a;

    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #b3c5f5;
    display: block;
    position: relative;
    padding: 20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #9fade7, 0 10px 0 #9fade7;
    -moz-box-shadow: inset 0 1px 0 #9fade7, 0 10px 0 #9fade7;
    box-shadow: inset 0 1px 0 #9fade7, 0 10px 0 #9fade7;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a:active {
    top: 10px;
    background-color: #afbaf2;
    color: #1d1814;
    -webkit-box-shadow: inset 0 1px 0 #9fade7, inset 0 -3px 0 #9fade7;
    -moz-box-shadow: inset 0 1px 0 #9fade7, inset 0 -3pxpx 0 #9fade7;
    box-shadow: inset 0 1px 0 #9fade7, inset 0 -3px 0 #9fade7;
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}